In [1]:
#インポート
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import psutil 

from sklearn.preprocessing import LabelEncoder

Duplicate key in file 'C:\\Users\\User\\.matplotlib\\matplotlibrc' line #250.

In [2]:
# cd C:\Users\minih\python_prac1\m5\git-repository\kaggle-m5-accuracy-library\library

In [3]:
#組み込みモジュール
import patair

In [4]:
# cd C:\Users\minih\python_prac1\library\m5

In [5]:
datas = pd.read_csv("input/sales_train_validation.csv")
datas

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,2,0,0,0,0,0,1,0,0,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,2,1,0,2,0,1,0,0,1,0
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,1,0,0,1,0,3,1,3
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns: #columns毎に処理
        col_type = df[col].dtypes
        if col_type in numerics: #numericsのデータ型の範囲内のときに処理を実行. データの最大最小値を元にデータ型を効率的なものに変更
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [ ]:
def encode_categorical(df, cols):
    
    for col in cols:
        # Leave NaN as it is.
        le = LabelEncoder()
        #not_null = df[col][df[col].notnull()]
        df[col] = df[col].fillna('nan')
        df[col] = pd.Series(le.fit_transform(df[col]), index=df.index)

    return df


#calendar = encode_categorical(
 #   calendar, ["event_name_1", "event_type_1", "event_name_2", "event_type_2"]
#).pipe(reduce_mem_usage)

datas = encode_categorical(
   datas, ["item_id", "dept_id", "cat_id", "store_id", "state_id"],
).pipe(reduce_mem_usage)

#sell_prices = encode_categorical(sell_prices, ["item_id", "store_id"]).pipe(
 #   reduce_mem_usage
#)

In [ ]:
product = datas[['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']].drop_duplicates()

In [ ]:
product.to_pickle("product.pickle")

In [ ]:
product

In [ ]:
#最新2年分のみ残す
#d1184～d1913
datas.drop(datas.columns[6:1189],axis=1,inplace=True)

In [ ]:
#最新3年分のみ残す
#d819～d1913
#datas.drop(datas.columns[6:824],axis=1,inplace=True)

In [ ]:
datas.head(2)

In [ ]:
test = pd.read_csv("sample_submission.csv")

In [ ]:
test.head(2)

In [ ]:
keys = []
values = []
for i in np.arange(28):
    keys.append(test.columns[1+i])
    values.append("d_" + str(1914+i))
maps = dict(zip(keys,values))

In [ ]:
maps

In [ ]:
test.rename(columns=maps,inplace=True)

In [ ]:
test.head(2)

In [ ]:
test.loc[:,test.columns[1:]] = np.NaN

In [ ]:
test

In [ ]:
datas = pd.merge(datas,test)

In [ ]:
datas

In [ ]:
datas = pd.melt(datas ,id_vars=datas.columns[0:6], var_name='date', value_name='sell_num')

In [ ]:
datas.head(3)

In [ ]:
datas.shape

In [ ]:
datas.shape

In [ ]:
#dateの最後一桁のみ残す
datas["date"] = datas["date"].apply(lambda x:x[2:])

In [ ]:
datas.head(3)

In [ ]:
datas["date"] = datas["date"].astype("int16")

In [ ]:
datas = patair.reduce_mem_usage(datas,True)

In [ ]:
calender = pd.read_csv("input/calendar.csv",engine="python",encoding="utf-8")
calender.head(3)

In [ ]:
calender = encode_categorical(
   calender, calender.columns[7:11],
).pipe(reduce_mem_usage)

In [ ]:
calender

In [ ]:
#calender.drop(calender.columns[7:],axis=1,inplace=True)

In [ ]:
calender.drop(["weekday", "year", "wday", "month"], axis=1, inplace=True)

In [ ]:
calender.head(2)

In [ ]:
calender["d"] = calender["d"].apply(lambda x:x[2:])
calender["d"] = calender["d"].astype("int16")

In [ ]:
calender.head(2)

In [ ]:
datas["d"] = datas["date"]
datas.drop("date",axis=1,inplace=True)

In [ ]:
datas = pd.merge(datas,calender,how='left',on=["d"])

In [ ]:
datas.head(2)

In [ ]:
#datas["date"] = datas["date_x"]
#datas.drop(["wm_yr_wk"],axis=1,inplace=True)

In [ ]:
datas.head(2)

In [ ]:
datas.shape

In [ ]:
#priceも扱う
price = pd.read_csv("sell_prices.csv")
price = patair.reduce_mem_usage(price,True)
price.head(3)

In [ ]:
calender.drop(["d"],axis=1,inplace=True)

In [ ]:
#結合の仕方大丈夫?

In [ ]:
calender = pd.merge(calender,price)

In [ ]:
calender.head(2)

In [ ]:
calender.drop("wm_yr_wk", axis=1, inplace=True)

In [ ]:
calender.dtypes

In [ ]:
calender["id"] = calender["item_id"] + "_" + calender["store_id"]

In [ ]:
calender.drop(["store_id","item_id","event_name_1", "event_name_2", "event_type_1", "event_type_2","snap_CA","snap_TX","snap_WI"], axis=1, inplace=True)

In [ ]:
calender["id"] = calender["id"].apply(lambda x:x + "_validation")

In [ ]:
#calender.loc[pd.isnull(calender["event_name_1"]),"event_name_1"] = "No"
#calender.loc[pd.isnull(calender["event_type_1"]),"event_type_1"] = "No"
#calender.loc[pd.isnull(calender["event_name_2"]),"event_name_2"] = "No"
#calender.loc[pd.isnull(calender["event_type_2"]),"event_type_2"] = "No"

In [ ]:
calender.head(2)

In [ ]:
#index = calender["event_name_1"].value_counts().index
#keys =  d = dict(zip(index, np.arange(len(index))))
#calender["event_name_1"] = calender["event_name_1"].map(keys)
#index = calender["event_type_1"].value_counts().index
#keys =  d = dict(zip(index, np.arange(len(index))))
#calender["event_type_1"] = calender["event_type_1"].map(keys)
#index = calender["event_name_2"].value_counts().index
#keys =  d = dict(zip(index, np.arange(len(index))))
#calender["event_name_2"] = calender["event_name_2"].map(keys)
#index = calender["event_type_2"].value_counts().index
#keys =  d = dict(zip(index, np.arange(len(index))))
#calender["event_type_2"] = calender["event_type_2"].map(keys)

In [ ]:
calender.dtypes

In [ ]:
datas.dtypes

In [ ]:
datas.drop("d",axis=1,inplace=True)

In [ ]:
datas.head(1)

In [ ]:
calender.head(1)

In [ ]:
datas = pd.merge(datas, calender, on=['id','date'], how='left')

In [ ]:
datas.shape

In [ ]:
datas.shape

In [ ]:
#　未売期間のデータを削除
datas.dropna(subset=["sell_price"], inplace=True)

In [ ]:
datas.head(2)

In [ ]:
#datas.sort_values(["state_id", "store_id", "cat_id", "dept_id", "item_id"],inplace=True)

In [ ]:
#sell_priceのnullに注意
#とりあえず線形補間、ラグを取った後で削除

In [ ]:
datas.to_pickle("all_sales_train_validation.pickle")

In [ ]:
datas.shape

In [ ]:
datas.shape