In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import psutil 
import gc

In [10]:
cd C:/Users/minih/python_prac1/m5/git-repository/kaggle-m5-accuracy-library/library/

C:\Users\minih\python_prac1\m5\git-repository\kaggle-m5-accuracy-library\library

In [11]:
# reduce用
import patair

In [12]:
cd C:/Users/minih/python_prac1/library/m5/

C:\Users\minih\python_prac1\library\m5

In [13]:
datas = pd.read_pickle("WI_3_interpolate.pickle")

In [6]:
datas

         item_id  week  wday  variable  value  prev_365
1123644        0     1     1        13    1.0       NaN
1126693        0     1     2        13    1.0       NaN
1129742        0     1     3        13    1.0       NaN
1132791        0     1     4        13    0.0       NaN
1135840        0     1     5        13    2.0       NaN
...          ...   ...   ...       ...    ...       ...
5596526     3048    52     3        16    NaN       0.0
5599575     3048    52     4        16    NaN       0.0
5602624     3048    52     5        16    NaN       0.0
5605673     3048    52     6        16    NaN       0.0
5608722     3048    52     7        16    NaN       0.0

[4488128 rows x 6 columns]

In [14]:
datas['value'].value_counts(normalize=True) * 100

0.00000     57.688879
1.00000     19.584091
2.00000      8.673345
3.00000      4.383096
4.00000      2.601973
              ...
21.90625     0.000034
21.96875     0.000034
22.03125     0.000034
22.09375     0.000034
28.71875     0.000034
Name: value, Length: 707, dtype: float64

In [15]:
datas = pd.read_csv("Clean_Analysis_WI_3.csv").pipe(patair.reduce_mem_usage)
gc.collect()

Mem. usage decreased to 128.41 Mb (50.0% reduction)

89

In [16]:
datas['value'].value_counts(normalize=True) * 100

0.00000     64.411489
1.00000     15.611651
2.00000      7.285611
3.00000      3.800731
4.00000      2.292710
              ...
38.31250     0.000024
38.25000     0.000024
38.18750     0.000024
38.06250     0.000024
32.21875     0.000024
Name: value, Length: 1263, dtype: float64