In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import psutil

Duplicate key in file 'C:\\Users\\User\\.matplotlib\\matplotlibrc' line #250.

In [2]:
# cd C:/Users/minih/python_prac1/m5/git-repository/kaggle-m5-accuracy-library/library/

In [3]:
import patair

In [5]:
# cd C:\Users\minih\python_prac1\library\m5

In [6]:
datas = pd.read_pickle('all_sales_train_validation.pickle')

In [7]:
datas.shape

(22589864, 17)

In [8]:
datas.head(3)

,id,item_id,dept_id,cat_id,store_id,state_id,sell_num,date,wm_yr_wk,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,0.0,2014-04-26,11413,30,4,4,2,0,0,0,8.257812
1,HOBBIES_1_002_CA_1_validation,1438,3,1,0,0,0.0,2014-04-26,11413,30,4,4,2,0,0,0,3.970703
2,HOBBIES_1_003_CA_1_validation,1439,3,1,0,0,0.0,2014-04-26,11413,30,4,4,2,0,0,0,2.970703

In [9]:
datas['date'] = pd.to_datetime(datas['date'])

In [10]:
datas.dtypes

id                      object
item_id                  int16
dept_id                   int8
cat_id                    int8
store_id                  int8
state_id                  int8
sell_num               float16
date            datetime64[ns]
wm_yr_wk                 int16
event_name_1              int8
event_type_1              int8
event_name_2              int8
event_type_2              int8
snap_CA                   int8
snap_TX                   int8
snap_WI                   int8
sell_price             float16
dtype: object

In [11]:
datas.shape

(22589864, 17)

In [12]:
datas.shape

(22589864, 17)

In [13]:
#maps = datas.groupby("id").groups

In [14]:
#list(maps.values())[0]

In [15]:
#base_index = datas.index

In [16]:
#j = 0
#for i in np.arange(30490):
 #   if j % 1000 == 0:
  #      print(j)
   # if not datas.loc[list(maps.values())[i]].isnull().sum()["sell_price"] == 0:
    #    datas.loc[list(maps.values())[i]] = datas.loc[list(maps.values())[i]].interpolate()
    #j+=1

In [17]:
#datas.to_pickle("all_sales_train_val_interpolate.pickle")

In [18]:
#datas.reset_index(inplace=True)

In [19]:
datas.head(3)

,id,item_id,dept_id,cat_id,store_id,state_id,sell_num,date,wm_yr_wk,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,0.0,2014-04-26,11413,30,4,4,2,0,0,0,8.257812
1,HOBBIES_1_002_CA_1_validation,1438,3,1,0,0,0.0,2014-04-26,11413,30,4,4,2,0,0,0,3.970703
2,HOBBIES_1_003_CA_1_validation,1439,3,1,0,0,0.0,2014-04-26,11413,30,4,4,2,0,0,0,2.970703

In [20]:
#datas.set_index("id",inplace=True)

In [21]:
np.max(datas["date"])

Timestamp('2016-05-22 00:00:00')

In [22]:
#answear_val = datas[(datas["date"] >= "2016-03-28") & (datas["date"] <= "2016-04-24")]#["sell_num"]

In [23]:
#answear_val.shape

In [24]:
#answear_val.to_pickle("answear_val.pickle")

In [25]:
#datas.loc[((datas["date"] >= "2016-03-28")),"sell_num"] = np.NaN

In [26]:
#1日前の売り上げ個数を特徴に追加
#datas["prev_1"] = datas.groupby("id")["sell_num"].transform(lambda x:x.shift(1))

#2日前の売り上げ個数を特徴に追加
#datas["prev_2"] = datas.groupby("id")["sell_num"].transform(lambda x:x.shift(2))

#7日前の売り上げ個数を特徴に追加
#datas["prev_7"] = datas.groupby("id")["sell_num"].transform(lambda x:x.shift(7))


#14日前の売り上げ個数を特徴に追加
#datas["prev_14"] = datas.groupby("id")["sell_num"].transform(lambda x:x.shift(14))

#############

#28日前の売り上げ個数を特徴に追加
datas["prev_28"] = datas.groupby("id")["sell_num"].transform(lambda x:x.shift(28))

#29日前の売り上げ個数を特徴に追加
#datas["prev_29"] = datas.groupby("id")["sell_num"].transform(lambda x:x.shift(29))

#30日前の売り上げ個数を特徴に追加
#datas["prev_30"] = datas.groupby("id")["sell_num"].transform(lambda x:x.shift(30))

#35日前の売り上げ個数を特徴に追加
#datas["prev_35"] = datas.groupby("id")["sell_num"].transform(lambda x:x.shift(35))

#半年前(182日前)の売り上げ個数を特徴に追加
#datas["prev_182"] = datas.groupby("id")["sell_num"].transform(lambda x:x.shift(182))

#1年前(365日前)の売り上げ個数を特徴に追加
#datas["prev_365"] = datas.groupby("id")["sell_num"].transform(lambda x:x.shift(365))

In [27]:
datas = patair.reduce_mem_usage(datas,True)

Mem. usage decreased to 969.45 Mb (0.0% reduction)

In [28]:
#1日前の価格を特徴に追加
datas["p_prev_1"] = datas.groupby("id")["sell_price"].transform(lambda x:x.shift(1))

#2日前の価格を特徴に追加
#datas["p_prev_2"] = datas.groupby("id")["sell_price"].transform(lambda x:x.shift(2))

#3日前の価格を特徴に追加
#datas["p_prev_3"] = datas.groupby("id")["sell_price"].transform(lambda x:x.shift(3))

#7日前の価格を特徴に追加
#datas["p_prev_7"] = datas.groupby("id")["sell_price"].transform(lambda x:x.shift(7))

#14日前の価格を特徴に追加
#datas["p_prev_14"] = datas.groupby("id")["sell_price"].transform(lambda x:x.shift(14))

#28日前の価格を特徴に追加
#datas["p_prev_28"] = datas.groupby("id")["sell_price"].transform(lambda x:x.shift(28))
#あまりラグを大きくしすぎるとアイテムによってはデータが全然ない状況に...

In [ ]:
#for size in [7, 30]:
#        datas[f"rolling_mean_t{size}"] = datas.groupby(["id"])["sell_num"].transform(
#            lambda x: x.shift(7).rolling(size).mean()
#        )
for size in [7, 14]:
        datas[f"rolling_mean_t{size}"] = datas.groupby(["id"])["sell_num"].transform(
            lambda x: x.shift(28).rolling(size).mean()
        )
#for size in [7, 30, 60, 90, 180]:
#        datas[f"rolling_mean_t{size}"] = datas.groupby(["id"])["sell_num"].transform(
#            lambda x: x.shift(28).rolling(size).mean()
#        )

In [ ]:
#for size in [7, 30]:
#        datas[f"rolling_std_t{size}"] = datas.groupby(["id"])["sell_num"].transform(
#            lambda x: x.shift(7).rolling(size).std()
#        )
for size in [7, 14]:
        datas[f"rolling_std_t{size}"] = datas.groupby(["id"])["sell_num"].transform(
            lambda x: x.shift(28).rolling(size).std()
        )

In [ ]:
datas["price_change_t1"] = (datas["p_prev_1"] - datas["sell_price"]) / (
        datas["p_prev_1"]
    )

In [ ]:
#datas["rolling_price_max_t365"] = datas.groupby(["id"])["sell_price"].transform(
#        lambda x: x.shift(1).rolling(365).max()
#)

In [ ]:
#datas["price_change_t365"] = (datas["rolling_price_max_t365"] - datas["sell_price"]) / (
#        datas["rolling_price_max_t365"]
#)

In [ ]:
datas["rolling_price_std_t7"] = datas.groupby(["id"])["sell_price"].transform(
        lambda x: x.rolling(7).std()
    )
datas["rolling_price_std_t30"] = datas.groupby(["id"])["sell_price"].transform(
        lambda x: x.rolling(30).std()
    )

In [ ]:
datas.columns

In [ ]:
datas

In [ ]:
 attrs = [
        "year",
        "quarter",
        "month",
        "week",
        "day",
        "dayofweek",
        #"is_year_end",
        #"is_year_start",
        #"is_quarter_end",
        #"is_quarter_start",
        #"is_month_end",
        #"is_month_start",
    ]

for attr in attrs:
    dtype = np.int16 if attr == "year" else np.int8
    datas[attr] = getattr(datas["date"].dt, attr).astype(dtype)

datas["is_weekend"] = datas["dayofweek"].isin([5, 6]).astype(np.int8)

In [ ]:
datas = patair.reduce_mem_usage(datas,True)

In [ ]:
datas.columns

In [ ]:
#nanのデータをdrop
#datas.dropna(subset=[ 'sell_price', 'prev_28', 'prev_29', 'prev_35',
 #      'prev_182', 'prev_365', 'p_prev_1', 'rolling_mean_t7',
  #     'rolling_mean_t30', 'rolling_mean_t60', 'rolling_mean_t90',
   #    'rolling_mean_t180', 'price_change_t1',
    #   'rolling_price_std_t7', 'rolling_price_std_t30'],inplace=True)

In [ ]:
#datas.drop(['rolling_price_max_t365','price_change_t365'],axis=1,inplace=True)

In [ ]:
datas.shape

In [ ]:
datas.drop("wm_yr_wk",axis=1,inplace=True)

In [ ]:
datas.to_pickle('all_sales_train_validation_translated_contain_null.pickle')

In [ ]:
buff = datas[datas["id"] == "FOODS_1_001_CA_1_validation"][['date','sell_num', 'sell_price','prev_28', 'p_prev_1','rolling_mean_t7', 
               'rolling_mean_t30', 'price_change_t1','rolling_std_t7', 'rolling_std_t30',
               'rolling_price_std_t7', 'rolling_price_std_t30', 'price_change_t1', 'rolling_price_std_t7']]

In [ ]:
#最大ラグを早めに出しておこう！！
buff.head(37)

In [ ]:
buff.to_csv("try.csv")

In [ ]:
#datas.to_pickle('all_sales_train_validation_translated.pickle')