In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/m5-forecasting-accuracy/sell_prices.csv
/kaggle/input/m5-forecasting-accuracy/sample_submission.csv
/kaggle/input/m5-forecasting-accuracy/calendar.csv
/kaggle/input/m5-forecasting-accuracy/sales_train_validation.csv

In [2]:
import matplotlib.pyplot as plt

In [3]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns: #columns毎に処理
        col_type = df[col].dtypes
        if col_type in numerics: #numericsのデータ型の範囲内のときに処理を実行. データの最大最小値を元にデータ型を効率的なものに変更
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [4]:
datas = pd.read_csv("/kaggle/input/m5-forecasting-accuracy/sales_train_validation.csv")

In [5]:
datas = reduce_mem_usage(datas, True)

Mem. usage decreased to 95.00 Mb (78.7% reduction)

In [6]:
datas.head(5)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [ ]:
#固有のidに注目
len(np.unique(datas["id"]))

In [ ]:
#item_idに注目
len(np.unique(datas["item_id"]))

In [7]:
datas = pd.melt(datas,id_vars=datas.columns[0:6], var_name='d', value_name='demand')
datas

,id,item_id,dept_id,cat_id,store_id,state_id,d,demand
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
...,...,...,...,...,...,...,...,...
58327365,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,d_1913,1
58327366,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,d_1913,0
58327367,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,d_1913,0
58327368,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,d_1913,3
58327369,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,d_1913,0

In [9]:
datas.dtypes

id          object
item_id     object
dept_id     object
cat_id      object
store_id    object
state_id    object
d           object
demand       int16
dtype: object

In [ ]:
#item_id別の売り上げランキング
display(datas.groupby("item_id").sum().sort_values("demand",ascending=False).head(8))

In [ ]:
#FOOD_3が良く売れてる→他のdept_idとの売り上げ額の違いが気になる
#FOOD_3が良く売れてる→時系列でどんな売れ行きかが気になる

In [ ]:
#そもそもdept_idいくつ？
len(np.unique(datas["dept_id"]))

In [ ]:
#dept_id別の売り上げランキング
display(datas.groupby("dept_id").sum().sort_values("demand",ascending=False).head(7))

In [10]:
#dを数値に変える事でソートしやすくなったり、メモリ消費を抑えたり...
datas['d'] = datas['d'].apply(lambda x:x[2:])
datas['d'] = datas['d'].astype("int16")

In [ ]:
#時系列でどんな売れ行きかが気になる→アイテムid毎,dept_id毎
#一番売れたFOODS_3_090について
#全店舗で
plt.plot(datas[datas["item_id"] == "FOODS_3_090"][["d","demand"]].groupby("d").sum())

In [ ]:
#10～250日くらいの間売られていない？
#1000日以降時折売り上げがほぼ0になる期間がある
#もう少し細かく見たい

In [ ]:
plt.plot(datas[(datas["item_id"] == "FOODS_3_090")][["d","demand"]].groupby("d").sum())

In [11]:
A = datas.groupby('item_id').groups

In [ ]:
len(A.keys())#アイテムリスト

In [ ]:
A[list(A.keys())[0]]#対応するインデックス

In [14]:
l = 0
dellist = []
for i in np.arange(len(A.keys())):
    if  l % 100 == 0:
        print(l)
    buff = datas.loc[A[list(A.keys())[i]]].groupby("d").groups
    buffer = datas.loc[A[list(A.keys())[i]]][["d","demand"]].groupby("d").sum()
    reset = list(buffer[buffer["demand"] > 0].index)
    reset.append(1914)

    j = 0
    n_day = 28
    count = 0

    for m in np.arange(1,1914):
        count += 1
        j += 1
        if m in reset:
            if count >= n_day+1:
                #print(np.arange(j-count+1,j))
                for n in np.arange(j-count+1,j):
                    dellist.extend(buff[list(buff.keys())[n]])
            count = 0
    if count >= n_day+1:
        #print(np.arange(j-count+1,j))
        for n in np.arange(j-count+1,j):
            dellist.extend(buff[list(buff.keys())[n]])    
    #print(dellist)
    datas.drop(dellist,axis=0,inplace=True)
    l+=1

0
[1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874
 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888
 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902
 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912]

KeyboardInterrupt:

In [ ]:
plt.plot(buffer.index,buffer["demand"])

In [ ]:
reset

In [ ]:
datas.loc[A[list(A.keys())[0]]]

In [ ]:
#dをindexにしてしまう手もある？

In [ ]:
del bool_list, count, buff, item_list, reset, indexes