In [1]:
# Random Forestの回帰と分類
from sklearn.ensemble import RandomForestRegressor

# ランダムサーチ
from sklearn.model_selection import RandomizedSearchCV

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import random

from sklearn.model_selection import KFold,train_test_split,cross_val_score

import psutil

In [2]:
cd ./../library/m5/

C:\Users\minih\python_prac1\library\m5

In [3]:
datas = pd.read_csv("one_year_sales_train_validation.csv",engine="python",encoding="utf-8")
datas.head(3)

,Unnamed: 0,id,item_id,dept_id,cat_id,store_id,state_id,date,sell_num,wday,month
0,0,FOODS_1_001_CA_1_validation,1,1,FOODS,1,CA,1,3,1,1
1,1,FOODS_1_002_CA_1_validation,2,1,FOODS,1,CA,1,0,1,1
2,2,FOODS_1_003_CA_1_validation,3,1,FOODS,1,CA,1,0,1,1

In [4]:
datas.set_index("id",inplace=True)

In [5]:
datas.drop("Unnamed: 0", axis=1, inplace=True)

In [6]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns: #columns毎に処理
        col_type = df[col].dtypes
        if col_type in numerics: #numericsのデータ型の範囲内のときに処理を実行. データの最大最小値を元にデータ型を効率的なものに変更
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [ ]:
import ./../

In [7]:
datas = reduce_mem_usage(datas,True)

Mem. usage decreased to 360.85 Mb (57.5% reduction)

In [8]:
datas.dtypes

item_id      int16
dept_id       int8
cat_id      object
store_id      int8
state_id    object
date         int16
sell_num     int16
wday          int8
month         int8
dtype: object

In [9]:
datas["item_id"] = datas["item_id"].astype('str')
datas["dept_id"] = datas["dept_id"].astype('str')
datas["store_id"] = datas["store_id"].astype('str')

In [10]:
datas.head(3)

,item_id,dept_id,cat_id,store_id,state_id,date,sell_num,wday,month
id,,,,,,,,,
FOODS_1_001_CA_1_validation,1,1,FOODS,1,CA,1,3,1,1
FOODS_1_002_CA_1_validation,2,1,FOODS,1,CA,1,0,1,1
FOODS_1_003_CA_1_validation,3,1,FOODS,1,CA,1,0,1,1

In [11]:
datas.sort_values(["state_id","store_id","cat_id","dept_id","item_id","date"],inplace=True)

In [12]:
datas.head(5)

,item_id,dept_id,cat_id,store_id,state_id,date,sell_num,wday,month
id,,,,,,,,,
FOODS_1_001_CA_1_validation,1,1,FOODS,1,CA,1,3,1,1
FOODS_1_001_CA_1_validation,1,1,FOODS,1,CA,2,0,2,1
FOODS_1_001_CA_1_validation,1,1,FOODS,1,CA,3,0,3,1
FOODS_1_001_CA_1_validation,1,1,FOODS,1,CA,4,1,4,2
FOODS_1_001_CA_1_validation,1,1,FOODS,1,CA,5,4,5,2

In [13]:
datas.shape

(11128850, 9)

In [14]:
#翌年の1月のデータのみ抽出
#datas[(datas["month"] == 1) & (datas["date"] >= 100)].to_csv("one_year_answear.csv")

In [14]:
answear = datas[(datas["month"] == 1) & (datas["date"] >= 100)]["sell_num"]

In [15]:
answear.head(3)

id
FOODS_1_001_CA_1_validation    2
FOODS_1_001_CA_1_validation    0
FOODS_1_001_CA_1_validation    0
Name: sell_num, dtype: int16

In [16]:
answear.to_csv("answear.csv")

In [17]:
answear.shape

(853720,)

In [18]:
datas.loc[((datas["month"] == 1) & (datas["date"] >= 100)),'sell_num'] = np.NaN

In [19]:
datas[(datas["month"] == 1) & (datas["date"] >= 100)]["sell_num"]

id
FOODS_1_001_CA_1_validation       NaN
FOODS_1_001_CA_1_validation       NaN
FOODS_1_001_CA_1_validation       NaN
FOODS_1_001_CA_1_validation       NaN
FOODS_1_001_CA_1_validation       NaN
                                   ..
HOUSEHOLD_2_099_WI_3_validation   NaN
HOUSEHOLD_2_099_WI_3_validation   NaN
HOUSEHOLD_2_099_WI_3_validation   NaN
HOUSEHOLD_2_099_WI_3_validation   NaN
HOUSEHOLD_2_099_WI_3_validation   NaN
Name: sell_num, Length: 853720, dtype: float64

In [17]:

#state = np.unique(datas["state_id"])

#for i in np.arange(len(state)):
#    buff = datas[datas["state_id"] == state[i]]
#    store =  np.unique(buff["store_id"])
#    for j in np.arange(len(store)):
#        buff2 = buff[buff["store_id"] == store[j]]
#        cat = np.unique(buff2["cat_id"])
#        for k in np.arange(len(cat)):
#            buff3 = buff2[buff2["cat_id"] == cat[k]]
#            dept = np.unique(buff3["dept_id"])
#            for l in np.arange(len(dept)):
#                buff4 = buff3[buff3["dept_id"] == dept[l]]
#               item = np.unique(buff4["item_id"])
#                for m in np.arange(len(item)):
#                    datas.loc[datas[(datas["state_id"] == state[i])&\
#                            (datas["store_id"] == store[j])&(datas["cat_id"] == cat[k])&\
#                            (datas["dept_id"] == dept[l]) & (datas["item_id"] == item[m])].index,"prev_month"]\
#                            = datas[(datas["state_id"] == state[i])&\
#                            (datas["store_id"] == store[j])&(datas["cat_id"] == cat[k])&\
#                            (datas["dept_id"] == dept[l]) & (datas["item_id"] == item[m])]["sell_num"].shift(28)

In [20]:
#31と同じ内容が以下の2通りで書ける

#1(関数の利用)
#def shift_28(x)
 #   return x.shift(28)

#datas["prev_28"] = datas.groupby("id")["sell_num"].transform(shift_28)

#2(lambda式=無名関数の利用)
datas["prev_28"] = datas.groupby("id")["sell_num"].transform(lambda x:x.shift(28))

In [21]:
#prev_28の特徴がnanのデータをdrop
datas.dropna(subset=['prev_28'],inplace=True)
datas.shape

(10275130, 10)

In [22]:
datas.to_csv("one_year_sales_train_validation_translated.csv")