In [1]:
# Random Forestの回帰
from sklearn.ensemble import RandomForestRegressor

# ランダムサーチ
from sklearn.model_selection import RandomizedSearchCV

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import psutil

In [3]:
import pickle

In [2]:
cd C:/Users/minih/python_prac1/library/m5/

C:\Users\minih\python_prac1\library\m5

In [4]:
train_X = pd.read_pickle("trainX.pickle")

In [5]:
train_y = pd.read_pickle("trainy.pickle")

In [ ]:
rfr = RandomForestRegressor()
rfr.fit(train_X,train_y)

In [ ]:
with open("rfrmodel1.pickle","wb") as f:
    pickle.dump(rfr,f)

In [6]:
test = pd.read_pickle("test.pickle")

In [10]:
test.head(3)

,item_id,prev_28,prev_29,prev_30,prev_35,prev_182,prev_365,dept_id_1,dept_id_2,dept_id_3,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,1,0.0,2.0,4.0,4.0,1.0,2.0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,1,2.0,0.0,2.0,0.0,0.0,1.0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1,0.0,2.0,0.0,1.0,3.0,0.0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [9]:
test.reset_index(inplace=True)
test.drop(["id","is_test","sell_num"], axis=1, inplace=True)

In [ ]:
y_pred = rfr.predict(test)

In [ ]:
pd.Series(y_pred).to_pickle("y_pred.pickle")

In [ ]:
answear = pd.read_pickle("answear.pickle")

In [ ]:
rfr.score(test,np.array(answear["sell_num"]))

In [ ]:
max_val = np.max(y_pred)
if max_val < np.max(answear["sell_num"]):
    max_val = np.max(answear["sell_num"])

In [ ]:
plt.scatter(y_pred,answear["sell_num"])
plt.plot(np.arange(0,max_val),np.arange(0,max_val),color='red')
plt.xlabel("predict")
plt.ylabel("real")
plt.legend()

In [ ]:
# グラフ可視化用に加工した場合
df_imp = pd.DataFrame(rfr.feature_importances_, columns=["importance"])
df_imp["Feature Names"] = train_X.columns
df_imp.set_index("Feature Names", inplace=True)
df_imp.sort_values(by="importance").tail(10).plot(kind="barh", figsize=(5, 5))
plt.show()

In [ ]:
cd C:\Users\minih\python_prac1\m5\git-repository\kaggle-m5-accuracy-library\library

In [ ]:
import metari

In [ ]:
train_df = pd.read_csv("sales_train_validation.csv")
calender = pd.read_csv("calendar.csv")
prices = pd.read_csv("sell_prices.csv")

In [ ]:
metari.calculate_WRMSSE(train_df,calender,prices,1,1913,y_pred)